<!DOCTYPE html>
<html>
<head>
  
        <!-- Hammer reload -->
          <script>
            setInterval(function(){
              try {
                if(typeof ws != 'undefined' && ws.readyState == 1){return true;}
                ws = new WebSocket('ws://'+(location.host || 'localhost').split(':')[0]+':35353')
                ws.onopen = function(){ws.onclose = function(){document.location.reload()}}
                ws.onmessage = function(){
                  var links = document.getElementsByTagName('link'); 
                    for (var i = 0; i < links.length;i++) { 
                    var link = links[i]; 
                    if (link.rel === 'stylesheet' && !link.href.match(/typekit/)) { 
                      href = link.href.replace(/((&|\?)hammer=)[^&]+/,''); 
                      link.href = href + (href.indexOf('?')>=0?'&':'?') + 'hammer='+(new Date().valueOf());
                    }
                  }
                }
              }catch(e){}
            }, 1000)
          </script>
        <!-- /Hammer reload -->
      
  
  <meta charset="utf-8">

  <title>Create Beautiful Quizzes: Free Online Quiz Maker - Qzzr</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8">

  <meta name="description" content="Qzzr is a simple online quiz tool that allows you to quickly create beautiful quizzes, post them anywhere on the web, view on any device, and easily track results.">

  <meta property="og:title" content="Qzzr, the world's simplest quiz tool" />
  <meta property="og:url" content="http://qzzr.co" />
  <meta property="og:description" content="Make a quiz, send it out, track results... that’s it." />
  <meta property="og:image" content="/assets/images/default-quiz-image.png" />

  <!-- <meta name="FB_ID" content="<%= get_fb_id %>"/> -->
  
  <!-- CSS -->
  <link rel='stylesheet' href='assets/stylesheets/application.css'>
  <link rel='stylesheet' href='assets/stylesheets/jquery.fancybox.css'>

  <!-- Fav and Touch Icons -->
  <link href="assets/ico/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <link href="assets/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed" type="image/png">
  <link href="assets/ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" type="image/png">
  <link href="assets/ico/apple-touch-icon-76-precomposed.png" rel="apple-touch-icon-precomposed" type="image/png">
  <link href="assets/ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" type="image/png">
  <link href="assets/ico/apple-touch-icon-120-precomposed.png" rel="apple-touch-icon-precomposed" type="image/png">
  <link href="assets/ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" type="image/png">
  <link href="assets/ico/apple-touch-icon-152-precomposed.png" rel="apple-touch-icon-precomposed" type="image/png">

  
  <!-- Scripts -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src='assets/javascripts/modernizr.js'></script>

  <!-- Hack for fackbook redirect anchor -->
  <script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        window.location.hash = '';
    }
  </script>


</head>
<body>
  <!--[if lt IE 10]>You are using an outdated version of Internet Explorer.  Qzzr is not compatible with any IE version under 10. Please go to Windows Updates and install the latest version.<![endif]-->
 <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M8HD4R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M8HD4R');</script>

<div id="fb-root"></div>



<nav class="nav-bar">
  <a href="https://www.qzzr.com">
  <span class='nav-bar-logo logo logo-white'>QZZR</span>   
  <span class="nav-bar-subtitle link-white">Quizzes for you by you</span>
  </a>
</nav>

<nav class="nav-bar-marketing">
  <section class="nav-bar-actions">

    <a href="index.html" class='nav-bar-action button button-transparent'>Overview</a>

    <div class="nav-bar-action dropdown mln">
      <a class='nav-bar-action button button-transparent mtn js-dropdown-trigger' href="#toggleShowUses">Uses</a>
      <ul class="dropdown-menu list list-picker">
        <li class="list-item pl3">
          <a href="drive-social-traffic/index.html" class='list-item-label'>
            Drive Social Traffic
          </a>
        </li>
        <li class="list-item pl3">
          <a href="generate-qualified-leads/index.html" class='list-item-label h8'>
            Capture Qualified Leads
          </a>
        </li>
        <li class="list-item pl3">
          <a href="present-targeted-offers/index.html" class='list-item-label'>
            Present Targeted Offers
          </a>
        </li>
      </ul>
    </div>
    <a href="pricing/index.html" class='nav-bar-action button button-transparent'>Pricing</a>
    <a href="about/index.html" class='nav-bar-action button button-transparent'>About</a>
    <a href="http://blog.qzzr.com"  class='nav-bar-action button button-transparent'>Blog</a>
  </section>
</nav>


<div class="page-wrapper">
  <section class="hero hero-home js-hero-toggle-body is-more is-less">
    <section class="hero-content">
      <h1 class="hero-heading h1">
        Make engaging quizzes for your site or blog
      </h1>
      <section class="hero-blurb">
        <h4 class="h5">
          Drive social traffic
          &nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
          Capture leads
          &nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;
          Present offers
        </h4>
      </section>
      <footer class="hero-cta">
        <a href="#showSignup" class="button button-square-large button-with-sub-label button-white">
          <span class="button-label">Get started</span>
          <span class="button-sub-label">It's free</span>
        </a>
        <a href="#showVideoModal" class="button button-large h6 b button-outline">
          Watch a video
        </a>
      </footer>
    </section>

    <section class="hero-media app-featured-quizzes">

      <!-- {{#each content}}
        {{#view Qzzr.MarketingQuizTileView content=this}}
          <header class="event-card-header">
            <h2 class="event-card-title">{{title}}</h2>
            <div class="event-card-details">
              <a class="event-card-author">{{ownerProfile.displayName}}</a>
            </div>
          </header>
          <div {{bind-attr style="imageThumbStyle" class=":event-card-thumb backgroundColorClass" }}></div>
        {{/view}}
      {{/each}} -->

    </section>
    <figure class="hero-bg">
    </figure>
    <footer class="hero-footer">
      <span class="wm-none">Take a quiz above or </span><a href="#seeMore" class="link link-white js-hero-toggle">see a bunch more</a>
    </footer>
  </section>
</div>

<div class="page-wrapper">

  <div class="text-center pt6">
    <h2 class="h2 text-center pb5">
      Trusted by these great companies
    </h2>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/espn.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/cbs.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/ibm.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/trulia.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/mashable.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/yelp.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/reddit.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/hubspot.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/yahoo.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/discover.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/ksl.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/sierra.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/collegehumor.jpg" class="figure-image">
    </figure>
    <figure class="figure figure-logo">
      <img src="/assets/images/logos/kiss.jpg" class="figure-image">
    </figure>
  </div>

  <hr class="rule mt6 mb6">

    <h2 class="h2 text-center pb5">
      1. Create a beautiful quiz in minutes
    </h2>
    <div class="grid grid-gallery">

      <div class="col-4 col-wxl-12">
        <article class="box box-feature box-feature-vertical">
          <section class="box-body blue-bg">
            <section class="box-text">
              <h6 class="box-heading">
                Engage your audience
              </h6>
              <section class="box-main">
                “Addictive”<br>
                “Insanely viral”<br>
                “Fun”<br>
                “Sticky”<br>
                &mdash; People of the world
              </section>
            </section>
          </section>
          <footer class="box-footer figure-home-1">
          </footer>
        </article>
      </div>

      <div class="col-4 col-wxl-12">
        <article class="box box-feature box-feature-vertical">
          <footer class="box-footer figure-home-2">
          </footer>
          <section class="box-body teal-bg">
            <section class="box-text">
              <h6 class="box-heading">
                Add some eye candy
              </h6>
              <section class="box-main">
                Use stunning images to tell a story or provide vivid examples.
              </section>
            </section>
          </section>
        </article>
      </div>

      <div class="col-4 col-wxl-12">
        <article class="box box-feature box-feature-vertical">
          <section class="box-body lime-bg">
            <section class="box-text">
              <h6 class="box-heading">
                Make it yours
              </h6>
              <section class="box-main">
                Customize the theme by adding a background image or your logo.
              </section>
            </section>
          </section>
          <footer class="box-footer figure-home-3">
          </footer>
        </article>
      </div>

    </div>
</div>

<div class="page-wrapper">
    <h2 class="h2 text-center pt6 pb5">
      2. Share it with the world
    </h2>
    <div class="grid grid-gallery">

      <div class="col-4 col-wxl-12">
        <article class="box box-feature box-feature-vertical">
          <section class="box-body purple-bg">
            <section class="box-text">

              <h6 class="box-heading">
                Embed it anywhere
              </h6>
              <section class="box-main">
                Your Qzzr quiz can look gorgeous embedded anywhere on the web.
              </section>
            </section>
          </section>
          <footer class="box-footer figure-home-4">
          </footer>
        </article>
      </div>

      <div class="col-4 col-wxl-12">
        <article class="box box-feature box-feature-vertical">
          <footer class="box-footer figure-home-5">
          </footer>
          <section class="box-body yellow-bg">
            <section class="box-text">
              <h6 class="box-heading">
                Share on social media
              </h6>
              <section class="box-main">
                With one click, spread your quiz on all of your favorite social channels and watch it go.
              </section>
            </section>
          </section>
        </article>
      </div>

      <div class="col-4 col-wxl-12">
        <article class="box box-feature box-feature-vertical">
          <section class="box-body red-bg">
            <section class="box-text">
              <h6 class="box-heading">
                Masterfully mobile
              </h6>
              <section class="box-main">
                Qzzr works beautifully on any screen large or small. No apps. Nothing to download.
              </section>
            </section>
          </section>
          <footer class="box-footer figure-home-6">
          </footer>
        </article>
      </div>

    </div>
</div>

<div class="page-wrapper">
    <h2 class="h2 text-center pt6 pb5">
      3. Get results
    </h2>
    <div class="grid grid-gallery grid-gallery-use-cases">

      <div class="col-4 col-wm-12">
        <article class="box box-feature box-feature-illustrated red-orange-bg">
          <section class="box-body">
            <section class="box-text">
              <h6 class="box-heading">
                Drive social traffic
              </h6>
              <section class="box-main">
                Once you launch that viral quiz, redirect all of that social lift right back to your site or blog.
                <p class="mt4">
                  <a href="/drive-social-traffic" class='button button-small button-outline button-white'}}Learn more</a>
                </p>
              </section>
            </section>
          </section>
          <footer class="box-footer figure-home-traffic">
          </footer>
        </article>
      </div>

      <div class="col-4 col-wm-12">
        <article class="box box-feature box-feature-illustrated blue-bg">
          <footer class="box-footer figure-home-leads">
          </footer>
          <section class="box-body">
            <section class="box-text">
              <h6 class="box-heading">
                Generate qualified leads
              </h6>
              <section class="box-main">
                Quizzes are the next killer lead gen tool. Capture leads and know exactly how leads answered your questions.
                <p class="mt4">
                  <a href="/generate-qualified-leads" class='button button-small button-outline button-white'</a>Learn more</a>
                </p>
              </section>
            </section>
          </section>
        </article>
      </div>

      <div class="col-4 col-wm-12">
        <article class="box box-feature box-feature-illustrated mint-bg">
          <section class="box-body">
            <section class="box-text">
              <h6 class="box-heading">
                Present targeted offers
              </h6>
              <section class="box-main">
                Offer a coupon or discount to the people taking your quiz and direct them right to it.
                <p class="mt4">
                  <a href="/present-targeted-offers" class='button button-small button-outline button-white'</a>Learn more</a>
                </p>
              </section>
            </section>
          </section>
          <footer class="box-footer figure-home-offers">
          </footer>
        </article>
      </div>

    </div>
</div>

<div class="page-wrapper text-center pt5">
  <a href="#showSignup" class="button button-square-large button-with-sub-label button-primary">
    <span class="button-label">Get started</span>
    <span class="button-sub-label">It's free</span>
  </a>

  <hr class="rule mt5">


  <h2 class="h2 text-center pb5">
    What people are saying
  </h2>

  <div class="grid pb6">
    <div class="col-6 col-offset-3 col-wxxl-8  col-wxxl-offset-2 col-wl-12  col-wl-offset-0">

      <blockquote class="quote mb5">
        <p class="quote-blurb">
          "If you are looking to build engaging content that will please both your users as well as your marketing strategies, Qzzr will be your new best friend. Qzzr is a no-brainer for those who are looking to get serious about content marketing."
        </p>
        <footer class="quote-footer">
          <span class="quote-author">Brandon Hassler</span>
          <span class="quote-author-title">Lead Digital Marketer</span>
          <span class="quote-author-company">97th Floor</span>
        </footer>
      </blockquote>

      <blockquote class="quote mb5">
        <p class="quote-blurb">
          “I love Qzzr, this tool allows our company to connect with our customers in a new and fun way.  It’s easy to use as a brand publisher and as a quiz taker.”
        </p>
        <footer class="quote-footer">
          <span class="quote-author">Chris Swift</span>
          <span class="quote-author-title">Digital Marketing Content Specialist</span>
          <span class="quote-author-company">Rogers Family Coffee Company</span>
        </footer>
      </blockquote>

      <blockquote class="quote mb5">
        <p class="quote-blurb">
          "Qzzr is easy, fun and it actually helps your business. It's the trifecta
of awesomeness."
        </p>
        <footer class="quote-footer">
          <span class="quote-author">John Clyde</span>
          <span class="quote-author-title">Content &amp; Marketing Manager</span>
          <span class="quote-author-company">Ok.com</span>
        </footer>
      </blockquote>


      <blockquote class="quote">
        <p class="quote-blurb">
          “We love Qzzr.  Our readers appreciate the good looks. Our editors love the dead simple tools — so they can spend their time writing and researching the content, rather than fussing with code.  Qzzr is fun and insightful for everyone involved.”
        </p>
        <footer class="quote-footer">
          <span class="quote-author">Spencer Hall</span>
          <span class="quote-author-title">News Director</span>
          <span class="quote-author-company">KSL.com</span>
        </footer>
      </blockquote>

    </div>
  </div>
</div>

 
  <div class="page-wrapper">

  <nav class="text-center purple-bg pt4 pb4">
    <a href="https://app.qzzr.com/account/signup" class="button button-large h6 b button-outline button-white">
      <span class="button-label pt3" style="display: block;">Get started now</span>
      <span class="h8-cap opacity-5 h mbn mtn">It's free</span>
    </a>
  </nav>

  <div class="grid gray-dark-bg pb4">
    <div class="col-10 col-offset-1 col-wxxxl-12 col-wxxxl-offset-0">

      <div class="grid grid-nested">
        <div class="col-3 col-wxxl-6 col-ws-12">
          <ul class="list-nav-inverted">
            <li class="list-item-header">Overview</li>
            <li class="list-item">
              <a href="/" class="list-item-link">Home</a>
            </li>
            <li class="list-item">
              <a href="/pricing" class='list-item-link'>Pricing</a>
            </li>
            <li class="list-item">
              <a href="/about" class='list-item-link'>About</a>
            </li>
            <li class="list-item">
              <a href="http://blog.qzzr.com" class="list-item-link">
                Blog
              </a>
            </li>
            <li class="list-item">
              <a href="/agencies" class='list-item-link'>Need a quiz made?</a>
            </li>
        </div>

        <div class="col-3 col-wxxl-6 col-ws-12">
          <ul class="list-nav-inverted">
            <li class="list-item-header">Use cases</li>
            <li class="list-item">
              <a href="/drive-social-traffic" class='list-item-link'>Drive social traffic</a>
            </li>
            <li class="list-item">
              <a href="/generate-qualified-leads" class='list-item-link'>Generate qualified leads</a>
            </li>
            <li class="list-item">
              <a href="/present-targeted-offers" class='list-item-link'>Present targeted offers</a>
            </li>
            <li class="list-item">
              <a href="https://app.qzzr.com/pro/track-quiz-scores" class='list-item-link'>Track Quiz Scores</a>
            </li>

          </ul>
        </div>

        <div class="col-3 col-wxxl-6 col-ws-12">
          <ul class="list-nav-inverted">
            <li class="list-item-header">Be friendly</li>
            <li class="list-item">
              <a href="https://www.facebook.com/pages/QZZR/200008303516674" class="list-item-link">
                Like us on Facebook
              </a>
            </li>
            <li class="list-item">
              <a href="https://twitter.com/Qzzr_" class="list-item-link">
                Follow us on Twitter
              </a>
            </li>
            <li class="list-item">
              <a href="https://www.linkedin.com/company/qzzr" class="list-item-link">
                Do something on Linkedin
              </a>
            </li>
          </ul>
        </div>

        <div class="col-3 col-wxxl-6 col-ws-12">
          <ul class="list-nav-inverted">
            <li class="list-item-header">&copy; 2014 Qzzr</li>
            <li class="list-item">
              <a href="/terms" class='list-item-link'>Terms of service</a>
            </li>
            <li class="list-item">
              <a href="/privacy" class='list-item-link'>Privacy policy</a>
            </li>
            <li class="list-item">
              <a href="/content" class='list-item-link'>Content Guidelines</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div> 


 <div class="modal-backdrop js-close-modal" style="display: none"></div>

<div id="videoModal" class='modal modal-video' style="display: none">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <iframe src="//player.vimeo.com/video/102863517?title=0&amp;byline=0&amp;portrait=0&amp;color=9559ce&amp;autoplay=1" width="500" height="290" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        
        <div class="text-center pt4">
          <a href='https://app.qzzr.com/account/signup' class="button button-large button-primary h6 b">
            <span class="button-label pt3" style="display: block;">Get started now</span>
            <span class="h8-cap opacity-5 h mbn mtn">It's free</span>
          </a>
        </div> 
      </div>
    </div>
  </div>

  <a class="modal-close js-close-modal"><i class="icon-ss-delete"></i></a>
</div>

  <script src='assets/javascripts/jquery.fancybox.js'></script>
  <script src='assets/javascripts/jquery.fitvids.js'></script>


  <!-- Google Analytics -->
  // <script>
  //   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  //   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  //   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  //   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  //   ga('create', '<%= ENV['GOOGLE_ANALYTICS_ID'] %>', 'auto', {'name':'qzzrTracker'});
  //   ga('qzzrTracker.require', 'displayfeatures');
  //   ga('qzzrTracker.require', 'ecommerce', 'ecommerce.js');
  //   ga('qzzrTracker.set', 'dimension4', '<%= @session_identifier %>');
  //   ga('qzzrTracker.set', 'location', '<%= @unfettered_url.html_safe %>');
    
  //   <% if user_signed_in? %>
  //     ga('qzzrTracker.set', 'dimension2', '<%= current_user.id %>');
  //   <% else %>
  //     ga('qzzrTracker.set', 'dimension3', '<%= get_temp_user_id %>');
  //   <% end %>

  //   <% unless @quiz %>
  //     ga('qzzrTracker.send', 'pageview');
  //     ga('qzzrTracker.send', 'event', 'Marketing','Entry');
  //   <% end %>
  // </script>

<!-- Browser Update -->
<script type="text/javascript"> 
  var $buoop = {vs:{i:9,f:15,o:15,s:5.1,n:9}}; 
  $buoop.ol = window.onload; 
  window.onload=function(){ 
    try {if ($buoop.ol) $buoop.ol();}catch (e) {} 
    var e = document.createElement("script"); 
    e.setAttribute("type", "text/javascript"); 
    e.setAttribute("src", "//browser-update.org/update.js"); 
    document.body.appendChild(e); 
  } 
</script>
<script>
  $(document).ready(function(){

    $('.js-dropdown-trigger').click(function(){
      event.stopPropagation();
      $(this).parent('.dropdown').toggleClass('is-active');
    })

    $(document).click( function(){
      $('.dropdown').removeClass('is-active');
    });

    $('.js-modal-trigger').click(function(){
      $('#videoModal, .modal-backdrop').show();
    });

    $('.js-close-modal').click(function(){
      $('#videoModal, .modal-backdrop').hide();
    });

    $('#videoModal').fitVids();

})
</script>

<!-- Typekit -->
<script type="text/javascript" src="//use.typekit.net/ncg3ahx.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</body>
</html>