extends ../layouts/default.jade

block locals
  - locals.title = 'Qzzr.com';
  - locals.description = 'This is a really, really, really cool site';

block main
  .home-top.widget-area
    .wrap
      .widget-area
        #execphp-11.widget.widget_execphp
          .execphpwidget
            h1.h1.accent-color.h.mtn.mb2 Create, embed, and share your own quizzes
            h2.h3.mb4
              | Drive social traffic
              span.opacity-5 ·
              |  Generate leads
            a.button.button-large.button-primary.h6.b.mr2.ml2.mb2.get_start(href='pricing')  Get started Now
            p.h8-cap.mt3
              a.link.video(href='http://vimeo.com/117419876')
                | Watch a quick video
              span.opacity-5.wm-none or
              a.wm-none.link(href='pricing') See our premium plans
            .grid.pt4
              .col-10.col-offset-1.col-wl-12.col-wl-offset-0
                figure.figure
                  img.figure-image(src='/wp-content/uploads/2015/02/Landscape-Retina1.png')
  .brands
    .wrap_middle.brand
      h2 Trusted by the world’s most respected brands
      .home-mid
        .mid
          .slide.slide-498
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/which-nintendo-character-are-you/fi9xdWl6emVzLzIyMzE0'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/which-nintendo-character-are-you/fi9xdWl6emVzLzIyMzE0') Which Nintendo character are you?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/logo1.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/Super-Smash.jpg);')
          .slide.slide-31
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/which-taylor-swift-are-you/fi9xdWl6emVzLzI0NDcw'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/which-taylor-swift-are-you/fi9xdWl6emVzLzI0NDcw') Which Taylor Swift are you?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2014/12/logo3.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2014/12/slide2.jpg);')
          .slide.slide-492
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/what-world-cup-team-are-you/fi9xdWl6emVzLzgzMzE'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/what-world-cup-team-are-you/fi9xdWl6emVzLzgzMzE') What World Cup team are you?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/espn_logo_887-e1421773489240.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/espn-image.jpg);')
          .slide.slide-181
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/are-you-snoozing-or-losing/fi9xdWl6emVzLzI1NjMy'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/are-you-snoozing-or-losing/fi9xdWl6emVzLzI1NjMy') Are you snoozing or losing?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2014/12/quiz2.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/snoozing-or-losing2.jpg);')
          .slide.slide-537
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/which-tech-entrepreneur-are-you/fi9xdWl6emVzLzI5NDM'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/which-tech-entrepreneur-are-you/fi9xdWl6emVzLzI5NDM') Which tech entrepreneur are you?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/kissmetrics-logo.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/Kissmetrics-image.png);')
          .slide.slide-528
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/investment-biases/fi9xdWl6emVzLzI1NTI4'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/investment-biases/fi9xdWl6emVzLzI1NTI4') Which investment biases are you using?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/Ogilvy-e1421779337421.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/Ogilvy-image.jpg);')
          .slide.slide-525
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/who-s-your-content-marketing-crush/fi9xdWl6emVzLzIyNjk2'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/who-s-your-content-marketing-crush/fi9xdWl6emVzLzIyNjk2') Who’s your content marketing crush?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/Marketo-300x300-e1421777839263.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/Marketo.jpg);')
          .slide.slide-545
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/which-u-s-city-should-you-go-to-for-your-next-vacation/fi9xdWl6emVzLzI0NDU3'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/which-u-s-city-should-you-go-to-for-your-next-vacation/fi9xdWl6emVzLzI0NDU3') Which U.S. city should you vacation in next?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/Marriott_International_Logo-e1421780175223.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/Marriott-image.jpg);')
          .slide.slide-519
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/which-gop-president-are-you/fi9xdWl6emVzLzE4NTcx'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/which-gop-president-are-you/fi9xdWl6emVzLzE4NTcx') Which GOP president are you?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/Townhall_02-e1421777660938.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/Presidential-Seal.jpg);')
          .slide.slide-516
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/12-simple-american-history-questions-all-patriots-should-be-able-to-answer/fi9xdWl6emVzLzI1OTg5'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/12-simple-american-history-questions-all-patriots-should-be-able-to-answer/fi9xdWl6emVzLzI1OTg5') 12 simple American history questions
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/media.research.center-e1421775777426.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/Eagle.jpg);')
          .slide.slide-513
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/what-s-your-travel-destiny-for-2015/fi9xdWl6emVzLzIxNjU5'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/what-s-your-travel-destiny-for-2015/fi9xdWl6emVzLzIxNjU5') What’s your travel destiny for 2015?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/lonelyplanet-e1421775587455.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/Travel-destiny.jpg);')
          .slide.slide-510
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/what-90s-bedroom-were-you-meant-to-live-in/fi9xdWl6emVzLzExMTM4'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/what-90s-bedroom-were-you-meant-to-live-in/fi9xdWl6emVzLzExMTM4') What 90s room were you meant to live in?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/hearst-design-group-e1421775360580.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/90s-Bedroom.jpg);')
          .slide.slide-505
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/can-you-pass-the-u-s-citizenship-test/fi9xdWl6emVzLzUyMzU'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/can-you-pass-the-u-s-citizenship-test/fi9xdWl6emVzLzUyMzU') Can you pass the US citizenship test?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/ksl.logo_1-e1421775198942.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/U.S.-Capital.jpg);')
          .slide.slide-495
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/which-star-wars-bounty-hunter-are-you-478ce854-c7a5-4ad5-a35a-70d263649e90/fi9xdWl6emVzLzgzNTc'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/which-star-wars-bounty-hunter-are-you-478ce854-c7a5-4ad5-a35a-70d263649e90/fi9xdWl6emVzLzgzNTc') What Star Wars bounty hunter are you?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/sideshow-collectibles2.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/bobafett3.jpg);')
          .slide.slide-36
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/are-you-a-true-gear-head/fi9xdWl6emVzLzY3Ng'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/are-you-a-true-gear-head/fi9xdWl6emVzLzY3Ng') Are you a true gear head?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2014/12/quiz1.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2014/12/slide4.jpg);')
          .slide.slide-25
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/which-bible-figure-are-you/fi9xdWl6emVzLzUxNDY'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/which-bible-figure-are-you/fi9xdWl6emVzLzUxNDY') Which bible figure are you?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2014/12/quiz5.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2014/12/slide3.jpg);')
          .slide.slide-28
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/sci-fi-fantasy-author-or-crazy-person/fi9xdWl6emVzLzEwNTI0'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/sci-fi-fantasy-author-or-crazy-person/fi9xdWl6emVzLzEwNTI0') Sci-Fi author or crazy person?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2014/12/quiz4.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2014/12/slider11.jpg);')
          .slide.slide-501
            .event-card.item(onclick="window.location.href='https://www.qzzr.com/quiz/what-is-your-home-buying-iq/fi9xdWl6emVzLzczNTc'", style='cursor: pointer')
              header.event-card-body
                span.event-card-title
                  p
                    a(href='quiz/what-is-your-home-buying-iq/fi9xdWl6emVzLzczNTc') What is your home-buying IQ?
                .text-center
                  img.logo-customer(src='wp-content/uploads/2015/01/trulia-logo-200x200.png')
              figure.event-card-thumbnail(style='background-image: url(/wp-content/uploads/2015/01/Home-buying.png);')
        a#prev(href='#')
        a#next(href='#')
      .brand_logo
        img(src='wp-content/uploads/2015/01/redcross-274x84.png')
        img(src='wp-content/uploads/2015/01/linkedin-01-276x84.png')
        img(src='wp-content/uploads/2015/01/ESPN-276x84.png')
        img(src='wp-content/uploads/2015/01/yahoo-276x84.png')
        img(src='wp-content/uploads/2015/01/inc-276x84.png')
        img(src='wp-content/uploads/2015/01/todayshow-2-276x84.png')
        img(src='wp-content/uploads/2015/01/Sports_Illustrated-copy3-276x84.png')
        img(src='wp-content/uploads/2015/01/trulia-276x84.png')
        img(src='wp-content/uploads/2015/01/reddit-276x84.png')
        img(src='wp-content/uploads/2015/01/sierraclub1-276x84.png')
        img(src='wp-content/uploads/2015/01/hubspot-276x84.png')
        img(src='wp-content/uploads/2015/01/cbs-276x84.png')
        img(src='wp-content/uploads/2015/01/ibm-276x84.png')
        img(src='wp-content/uploads/2015/01/Ogilvy-1-276x84.png')
        img(src='wp-content/uploads/2015/01/techcrunch2-276x84.png')
        img(src='wp-content/uploads/2015/01/collegehumor1-276x84.png')
        img(src='wp-content/uploads/2015/01/yelp-276x84.png')
        img(src='wp-content/uploads/2015/01/marketo-276x84.png')
  .placeholder
    .wrap_middle
      h2.mb4 The most simple and elegant quiz tool
      section.home-section
        section.media.media-split
          figure.media-block.figure
            img.figure-image(src='wp-content/uploads/2015/01/make.jpg')
          article.media-content
            h4 Create a quiz in minutes
            .opacity-7.is-formatted.h6
              ul
                li
                  | Create both graded and outcome quizzes, like "Where in the world is this?" and "Which Harry Potter character are you?"
                li Customize your background.
                li Easily add text, images, and animated GIFs to your quiz.
                li Need to quiz in other languages? We got you.
        section.testimonial.media.media-testimonial-bubble
          figure.media-block
            img(src='wp-content/uploads/2015/01/Sarah-116x116.png')
          article.media-content
            p
              | “Qzzr makes it
              strong extremely easy and efficient
              |  to create successful quizzes.”
            footer
              span Sarah Benecke
              span.opacity-7
                | · 
                small Marketing,
                small Media Research Center
      section.home-section
        section.media.media-split
          figure.media-block.figure
            img.figure-image(src='wp-content/uploads/2015/01/snooze.jpg')
          article.media-content
            h4 Embed & share it with the world
            .opacity-7.is-formatted.h6
              ul
                li Embed quizzes with a single line of code.
                li Use Wordpress? We have a plugin for you.
                li Share it with all the networks you love.
        section.testimonial.media.media-testimonial-bubble
          figure.media-block
            img(src='wp-content/uploads/2015/01/David-116x116.png')
          article.media-content
            p
              | "The thing I enjoyed most about using Qzzr was how easy (and, in honesty, how fun) it was to use. The
              strong results look beautiful and are easy to share.
              | ”
            footer
              span David Bradley
              span.opacity-7
                | · 
                small Editor-in-Chief,
                small Games Radar+
      section.home-section
        section.media.media-split
          figure.media-block.figure
            img.figure-image(src='wp-content/uploads/2015/01/analytics.png')
          article.media-content
            h4 Track your results
            .opacity-7.is-formatted.h6
              ul
                li Review stats.
                li Analyze responses.
                li Import leads.
        section.testimonial.media.media-testimonial-bubble
          figure.media-block
            img(src='wp-content/uploads/2015/01/image6-116x116.png')
          article.media-content
            p
              | “As a quiz taking junkie myself, I thought it'd be fun to engage our community with a quiz. To date we've seen a
              strong lead conversion rate of 38%.
              | ”
            footer
              span Natalie Mazloumi
              span.opacity-7
                | · 
                small Co-founder,
                small Pampadour
      section.home-section
        section.media.media-split
          figure.media-block.figure
            img.figure-image(src='wp-content/uploads/2015/02/offers.gif')
          article.media-content
            h4 Drive business
            .opacity-7.is-formatted.h6
              ul
                li Generate unlimited leads.
                li Add links and offers.
                li Drive Facebook likes.
        section.testimonial.media.media-testimonial-bubble
          figure.media-block
            img(src='wp-content/uploads/2015/01/Joe-116x116.png')
          article.media-content
            p
              | “Qzzr was very flexible and easy to use. Our quiz has generated over
              strong 26
              strong ,000 leads and over $1 million in revenue (and counting).
              | ”
            footer
              span Joe Hollerup
              span.opacity-7
                | · 
                small Content Marketing,
                small Internet Marketing Inc
      section.home-section
        section.media.media-split
          figure.media-block.figure
            img.figure-image(src='wp-content/uploads/2015/01/no-logo.gif')
          article.media-content
            h4 Make it your own
            .opacity-7.is-formatted.h6
              | Reduced branding and white-label options available for businesses.
        section.testimonial.media.media-testimonial-bubble
          figure.media-block
            img(src='wp-content/uploads/2015/01/Andrew-116x116.png')
          article.media-content
            p
              | “Qzzr is a
              strong ridiculously easy-to-use tool.
              |  What would have been an enormous dev task (building out an internal quiz platform) was just plopped on our laps. It's a miracle tool."
            footer
              span Andrew Bridgman
              span.opacity-7
                | · 
                small Editor,
                small Dorkly.com
  .purple_box.mtn
    p.h3 Want to learn more?
    a.button.button-medium.button-primary.ml2.take_tour(href='tour') Take the tour
  .video-section.grid
    .col-6.col-wxxl-8.col-wxxl-offset-2.col-wl-12.col-wl-offset-0.pb4
      .widget-area
        #text-7.widget.widget_text
          .textwidget
            p
              | “We want anyone to get the magic results that BuzzFeed and The New York Times are seeing from quizzes”
            .h5.pt3
              strong Josh Little
              span.opacity-5 · CEO,  Qzzr
            hr.rule
            div
              | Check out our collection
              | of quiz tips and strategies.
            a.link.link-purple.b(href='blog/') View blog
    .col-6.col-wxxl-8.col-wxxl-offset-2
      a.video(href='http://vimeo.com/102863517')
        img(src='wp-content/uploads/2015/01/Bottom-video-screencap-1.png')
        span
  .wrap_middle
    h3.pb3 What people are saying
    .col-4.col-wxl-8.col-wxl-offset-2.col-wl-offset-0.col-wl-12
      .media.media-testimonial-plain
        figure.media-block
          img(src='wp-content/uploads/2014/12/Chris-184x184.png', alt='image')
        // <img src="/wp-content/uploads/2014/12/logo7.png" alt="logo" />
        .media-content
          p
            | "We love Qzzr. A recent quiz generated
            strong over 16,000 leads and $75,000 in revenue.
            | "
          footer
            p.name.b Chris Pirotta
            span Director of Ecommerce,
            span Slideshow Collectibles
    .col-4.col-wxl-8.col-wxl-offset-2.col-wl-offset-0.col-wl-12
      .media.media-testimonial-plain
        figure.media-block
          img(src='wp-content/uploads/2014/12/Johanna-184x184.png', alt='image')
        // <img src="/wp-content/uploads/2014/12/logo8.png" alt="logo" />
        .media-content
          p
            | "We featured our 'love personality' quiz in our newsletter and it
            strong improved our click-through rate by 80%.
            | "
          footer
            p.name.b Johanna Bergstrom
            span Copywriter,
            span The Diamond Store.co.uk
    .col-4.col-wxl-8.col-wxl-offset-2.col-wl-offset-0.col-wl-12
      .media.media-testimonial-plain
        figure.media-block
          img(src='wp-content/uploads/2014/12/Josh-184x184.png', alt='image')
        // <img src="/wp-content/uploads/2014/12/logo9.png" alt="logo" />
        .media-content
          p
            | “Qzzr offers a
            strong fun, new way of engaging
            |  with our readers. More than 10% of the people who took our quiz signed up for our newsletter.”
          footer
            p.name.b Jeff Meyer
            span Website Editor,
            span Digital Camera World
  .pb4
    .client_box
      .wrap_middle
        h3 As seen on
        .client
          img(src='wp-content/uploads/2015/01/techcrunch6-198x53.png')
          img(src='wp-content/uploads/2015/01/entrepreneur6-198x53.png')
          img(src='wp-content/uploads/2015/01/forbes6-198x53.png')
          img(src='wp-content/uploads/2015/01/reuters2-198x53.png')
          img(src='wp-content/uploads/2015/01/mashable3-198x53.png')



